.timing-container span{
    font-size: 40px;
    font-weight: bold;
    margin: 3px;
    
}
.timing-container{
    height: 130px;
    width: 200px;
    padding: 7px;
}

.main-container{
    border-radius: 100%;
    width: 350px;
    height: 350px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}